@import url(https://fonts.googleapis.com/css?family=Aclonica);

.background {
  background-color: #f7f8f9;
  padding: 10px;
}

.registration-form {
  background-color: #42f4f4;
  color: blue;
  font-family: 'Aclonica';
  padding-top: 10px;
  padding-bottom: 20px;
  margin: auto;
  max-width: 500px;
  text-align: center;
}

.registration-image {
  width: 90%;
  height: auto;
}

.helptext {
  font-size: 10px;
  display: block;
  max-width: 40%;
  margin: 0 auto;
}
